---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Tu Compañero de Blogs Impulsado por IA</h1>
		<p>
			¡Hola a todos los amantes de la escritura y la innovación! Estamos 
			emocionados de presentarles Postea IA, un espacio donde la 
			inteligencia artificial se encuentra con la creatividad para transformar la 
			manera en que creamos y disfrutamos de contenido. Prepárense para una 
			experiencia única en la creación de blogs con la potencia de la inteligencia 
			artificial a su alcance.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
		<p>Estas son algunas de mis funciones integradas:</p>
		<ul class="list-inside list-disc">
			<li>Soy ultra rápida ya que soy un sitio estático.</li>
			<li>Soy completamente receptivo.</li>
			<li>Vengo con un modo claro y oscuro.</li>
			<li>Soy fácil de personalizar y agregar contenido adicional.</li>
			<li>Tengo el estilo CSS Tailwind.</li>
			<li>Resaltado de sintaxis del código Shiki.</li>
			<li>Satori para generar automáticamente imágenes OG para publicaciones de blog.</li>
		</ul>
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
